[submodule "cc65"]
	path = cc65
	url = https://github.com/bxlentpartyon/cc65.git
[submodule "uzi-nes"]
	path = uzi-nes
	url = https://github.com/bxlentpartyon/uzi.git
[submodule "fceux"]
	path = fceux
	url = https://github.com/bxlentpartyon/fceux.git
[submodule "nestile"]
	path = nestile
	url = https://github.com/bxlentpartyon/nestile.git
